<h4>Title:</h4>
<p><%= @book.title %></p>

<h4>Body:</h4>
<p><%= @book.body %></p>


<%= link_to "Edit", edit_book_path(@book.id) %>
<a href="/books">Back</a>
<%= link_to "Destroy", destroy_book_path(@book.id), method: :delete, "data-confirm" => "Are you sure？" %>