<body>
  <P>
    <strong>Title:</strong>
    <%= @book.title %>
  </P>
  <p>
     <strong>Body:</strong>
     <%= @book.body %>
  </p>
</body>

 </br>
 <P>
  <%= link_to "Edit", edit_book_path(@book.id) %>
   |
  <%= link_to "Back", "/books" %>
 </p>